/* Popup card styling */
.popup-card {
  /* background-color: white; */
  padding: 20px;
  border-radius: 15px;
  width: 20em;
  height: 23em;
  position: relative;
  text-align: center;
  color: var(--black);
}

.custom-textfield {
  width: 90%;
  margin-bottom: 1em;
}

.custom-textfield .MuiOutlinedInput-root {
  border-radius: 10px;
}

.custom-textfield .MuiOutlinedInput-root fieldset {
  border-color: var(--black);
}

.custom-textfield .MuiOutlinedInput-root:hover fieldset {
  border-color: var(--dark-grey);
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--black);
}

.custom-textfield .MuiInputLabel-root {
  color: var(--brown);
}

.custom-textfield .MuiSelect-select {
  color: var(--black);
}

.close-popup:hover {
  background-color: #d32f2f;
}

#body{
  background-color: #F8F8F8;
}

:root {
  --orange: #FBA628;
  --orange-light: #ffe3a8;
  --light-blue: #38B6FF;
  --light-grey: #F8F8F8; 
  --grey: #EBEBEB;
  --dark-grey: #DFDFDF;
  --brown: #877061; 
  --black: #292B2D;
}

  /* Main font across the site is Cerebri

The hero section uses the Nexa font in italics, not bold. */

@font-face {
  font-family: 'Cerebri Sans';
  src: url('/fonts/CerebriSans-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-Trial-LightItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* 
fontFamily: "Cerebri Sans, sans-serif",
fontFamily: "Nexa, sans-serif",
    */